@font-face {
  font-family: poppins;
  src: url(../src/fonts/Poppins-Medium.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: blueviolet;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
}

.connect-four {
  font-weight: 900;
  font-size: 40px;
  text-rendering: optimizeLegibility;
  /* Put text outline here later. Use JS */
  /* -webkit-text-stroke: 3px black; */
  text-shadow: -2px 0px 0px black, 2px 0px 0px black, 0px -2px 0px black, 0px 2px 0px black;
  letter-spacing: 3px;
  /* Using text-stroke gives a better border but only works on webkit suported browsers. Using text shadow works on all browsers but doesn't yield results as good as text-stroke */
}

.icon-cont {
  display: grid;
  grid-template-columns: 20px 20px;
}

.icon {
  width: 15px;
  height: 15px;
  border: 2px solid rgb(43, 42, 42);
  border-radius: 50%;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.redf {
  color: red;
}

.yellowf {
  color: yellow;
}

.greenf {
  color: green;
}

.bluef {
  color: blue;
}

.menu-items-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.menu-item {
  border: 2px solid black;
  width: 300px;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
  font-family: poppins, Arial, Helvetica, sans-serif;
  box-shadow: 1px 2px 2px black;
  transition: all 0.3s linear;
}

.menu-item a{
  padding: 10px 0;
  display: block;
}

.menu-item:hover {
  box-shadow: none;
  background-color: white;
}

.redb {
  background-color: rgb(245, 47, 47);
}

.yellowb {
  background-color: rgb(238, 238, 57);
}

.blueb {
  background-color: rgb(61, 61, 248);
}

.rules-container {
  display: flex;
  justify-content: center;
}

.rules-name {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
}

.rules-cont {
  margin-top: 30px;
  border: 2px solid black;
  background-color: white;
  width: 95vw;
  max-width: 400px;
  padding: 30px;
  border-radius: 15px;
}

.rules-cont li {
  list-style-position: outside;
  font-family: poppins;
}

.board {
  border: 2px solid black;
  background-color: blue;
  width: 95vw;
  max-width: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border-radius: 25px;
  box-shadow: 1px 2px 2px black;
}

.board-column {
  padding: 10px 0;
  transition: all 0.2s linear;
  border-radius: 25px;
}

.board-column:hover {
  background-color: rgb(218, 217, 217);
}

.board-cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  margin: 0 auto 10px;
  border-radius: 50%;
  background-color: blueviolet;
  box-shadow: 1px 2px 2px black inset;
  position: relative;
}

.bi-x-lg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40%;
  fill: black;
  stroke-dashoffset: 2;
  stroke-width: 5;
}

.controls-cont{
  width: 90vw;
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
}

.controls-cont button{
  padding: 8px 20px;
  border-radius: 15px;
  border: none;
  background-color: rgb(169, 86, 247);
  color: white;
  font-family: poppins;
  transition: all 0.2s linear;
}

.controls-cont button:hover{
  background-color: rgb(136, 63, 204);
}